@using leave_management.Models.Enums;
@using leave_management.Models.ViewModels

@model StandardMessageVM

<div class="row text-center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <center>
            <div id="@(Model.MessageDivId)" style="width:90%;">
                @* message content goes here *@
            </div>
        </center>
    </div>
</div>

<script>

    if (@((!string.IsNullOrEmpty(Model.MessageContent)).ToString().ToLower())) {

        console.log('display message');
        standardMessage('@Model.MessageTitle', '@Model.MessageContent', '@(Enum.GetName(typeof(MessageType), Model.MessageType))', '@Model.MessageDivId');
    }

</script>